<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <!--Nav Start-->
    
    <!--Nav end-->

    <div class="row mt-20 grid-style" *ngIf="questionGroupList">
        <div class="col-sm-6 col-md-4"*ngFor="let group of questionGroupList.Result" >
            <article class="module-section">
                <div class="module-header">
                    <h2>{{group.Category}}</h2>
                </div>
                <div class="module-body container-fluid">
                    <div class="add-information">
                        <img src="../../../Content/Images/add-goal.svg" />
                        <p>Add information</p>
                    </div>
                </div>
            </article>
        </div>
    </div>    
    <!--Script Links-->
    <script src="../Content/Script/jquery-3.2.1.min.js"></script>
</body>
</html>
