<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../../../Content/Script/bootstrap.min.js"></script>
    <link href="../../../Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/Styles/custom.css" rel="stylesheet" />
    <script src="../../../Content/Script/jquery-3.2.1.min.js"></script>

    <style>


        </style>
</head>
<body>
    <h3>Groups List</h3>
    <!--<div class="add-information" data-toggle="modal" data-target="#addPersonalInfo" data-backdrop="static" data-keyboard="false">
     
        <img src="../../../Content/Images/add-goal.svg" />
        <p>Add information</p>
    </div>-->
  
  <!--<h1>{{questionGroupList.ResponseMessage}}</h1>-->

    <ul *ngIf="questionGroupList">
       <!-- <li>{{questionGroupList.ResponseMessage}}</li>-->
    <li *ngFor="let group of questionGroupList.Result">
        <div class="contentdiv">{{group.QuestionGroupName}}</div>
    </li>
    </ul>

</body>
</html>
