<table summary="A table using colspan">
    <tr>
        <th colspan="3">
            Stock list
        </th>
    </tr>
    <tr>
        <th>
            Fruit
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
    </tr>
    <tr>
        <td>
            Apple
        </td>
        <td>
            50p
        </td>
        <td>
            1Kg
        </td>
    </tr>
    <tr>
        <td>
            Orange
        </td>
        <td>
            60p
        </td>
        <td>
            1Kg
        </td>
    </tr>
</table>

